/* src/components/Cart.css */

.cart-item-image {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  object-fit: cover; /* This property ensures that the image covers the entire container */
}


.cart {
  margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
  }
  
  .cart h2 {
    margin-top: 0;
  }
  
  .cart-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item-image {
    width: 80px; 
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .cart-item-details p {
    margin: 0;
  }
  
  .cart-item-details button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item-details button:hover {
    background-color: #c82333;
  }
  
  .cart p {
    margin-top: 10px;
  }
  
  .cart button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart button:hover {
    background-color: #0056b3;
  }

  .cart-icon-container{
    float: right;
    margin-top: -10px;
    font-size: larger;
    padding: 5px;
  }
  